/* background */
$grey-light: #f7f7f7;
$grey: #dedede;
$grey-dark: #c2c2c2;

/* text */
$white: #fff; //discount.
$black: #000;
//$main-text: #212121;
//$light-text: #777; //price
//$lighter-text: #a9a9a9; //in-cart, cart-price;
//$lightest-text: #e1e1e1; //owned
$main-text: rgba(0, 0, 0, .8);
$light-text: rgba(0, 0, 0, .7); //price
$lighter-text: rgba(0, 0, 0, .6); ; //in-cart, cart-price;
$lightest-text: rgba(0, 0, 0, .4); //owned

/* buttons */
$btn-clear-dark: #7e53b2;
$btn-clear-light: #b65ae2;
